<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.wanda.taicang.activity"
    android:versionCode="1"
    android:versionName="1.0" >
    
      <!-- AutoNavi Location -->
    <!-- 允许程序打开网络sockets -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许应用写（非读）用户的外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许挂载和反挂载文件系统可移动存储 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许读取电话的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序改变Wi-Fi连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许一个程序访问CellID或WiFi来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Others -->
    <!-- 允许一个程序访问精良位置(如GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序读取底层系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    
    <!-- V2.0添加的新功能 -->
    <!-- 允许振动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 允许访问闪光灯 -->
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
	<!-- 
			调用系统Camera App，我们压根不需要任何权限，但是这里用Camera API，就必须在manifest内声明使用权限，通常由以下三项
			<uses-permission android:name = "android.permission.CAMERA" />
			<uses-feature android:name = "android.hardware.camera" />
			<uses-feature android:name = "android.hardware.camera.autofocus" />
			Android Market会根据uses-feature过滤所有你设备不支持的应用。通过使用<uses-feature>元素，一个应用可以指定它所支持的硬件型号，举个例子，
			有些设备不支持多点触控或者OpenGL ES 2.0，那么过滤器就会过滤需要这些硬件支持（多点触控或者OpenGL ES 2.0）的应用，用户就不会在android market上看到这些应用。
			一个<uses-feature>元素包含以下属性：<uses-feature android:name="string" android:required=["true" | "false"] android:glEsVersion="integer" />
			name属性指定了应用的特征，required属性告诉过滤器我们是否在任何情况下必须要需要这个设备的支持，或者仅仅只是“nice to have”。
			<uses-feature>声明的目的是通知其他外部实体，该应用程序所依赖的硬件和软件功能。
	 -->
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- 启动页面 LaunchActivity -->
        <activity
            android:name="cn.com.wanda.taicang.activity.LaunchActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 主页面 HomeActivity -->
        <activity
            android:name="cn.com.wanda.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" 
		/>
        
        <!-- 关于页面 AboutActivity -->
        <activity
            android:name="cn.com.wanda.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" 
		/>
        
        <!-- 地图页面 MapActivity -->
        <activity
            android:name="cn.com.wanda.activity.MapActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
		/>
        
        <!-- 店铺列表页面 ShopListActivity -->
        <activity
            android:name="cn.com.wanda.activity.ShopListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
		/>
        
        <!-- 停车位页面 ParkingActivity -->
        <activity
            android:name="cn.com.wanda.activity.ParkingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" 
		/>
        
        <!-- 店铺详情页面 ShopDetailActivity -->
        <activity
            android:name="cn.com.wanda.activity.ShopDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
		/>
        
        <!-- 路径页面 PathActivity -->
        <activity
            android:name="cn.com.wanda.activity.PathActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" 
		/>
        
        <!-- 优惠券列表页面 CouponListActivity -->
        <activity
            android:name="cn.com.wanda.activity.CouponListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" 
		/>
        
        <!-- 品牌墙页面 BrandWallActivity -->
        <activity
            android:name="cn.com.wanda.activity.BrandWallActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" 
		/>
        
        
    </application>

</manifest>
